<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS INNOVATE X ACTION</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- Font Awesome 추가 -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" /> <!-- Leaflet CSS 추가 -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script> <!-- Leaflet JS 추가 -->
</head>    
<body>
    <%- include('components/index/header') %>
    <%- include('components/index/countdown') %>
    <%- include('components/index/title') %>

    <main class="container my-5 main-content">
        <%- include('components/index/intro') %>
        <%- include('components/index/agenda') %>
        <%- include('components/index/speakers') %> <!-- 스피커 섹션 추가 -->
        <%- include('components/index/sponsors') %> <!-- 스폰서 섹션 추가 -->
        <%- include('components/index/information') %> <!-- Infomation 섹션 추가 -->
        <%- include('components/index/location') %> <!-- Location 섹션 추가 -->
    </main>

    <%- include('components/index/footer') %>

    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close-btn">&times;</span>
            <h2>행사 참가 안내</h2>
            <p>행사에 참가하시면 소정의 선물을 드립니다!</p>
            <img src="/images/gift_image.png" alt="Gift Image">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/countdown.js"></script>
    <script src="/js/main.js"></script> <!-- 메인 JavaScript 파일 추가 -->
</body>
</html>
